/* Styles to match material design*/
h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 96px;
    letter-spacing: -1.5px;
}

h2 {
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.5px;
}

h3 {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0px;
}

h4 {
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.25px;
}

h5 {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
}

h6 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
}

button {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.75px;
    font-family: sans-serif;
    text-transform: uppercase;
}